.ag-header-select-all{
	padding-top:10px  !important;
}

.ag-theme-fresh .ag-icon-checkbox-unchecked, .ag-theme-fresh .ag-icon-checkbox-checked, .ag-theme-fresh .ag-icon-checkbox-indeterminate {
	background-size: 16px 16px  !important;
	width: 16px  !important;
	height: 16px  !important;
}
.ag-header-cell > .ag-cell-label-container {
	padding: 6px 1px;
	color: #FFF;
	font-weight: bold;
}
.ag-theme-fresh .ag-header {
	background-image: none !important;
	background: #f0f0f0 !important;
}
.ag-cell {
	 
	line-height: normal !important;
	padding-top: 13px;
}
.ag-layout-normal .ag-body-viewport{
	background: white;
}
.ag-theme-fresh .ag-cell-focus {
	border: none !important;
	padding-top: 14px;
    text-align: left;
}
.ag-theme-fresh .ag-cell-no-focus {
    border-right: none;
    padding-top: 14px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 3.13; */
    letter-spacing: normal;
    text-align: left;
    color: #3c404a;
}
.ag-theme-fresh .ag-header-cell-resize::after {
	height: 50px !important;
	/* border-right: none;
	
	border-right: none !important; */
}
.ag-theme-fresh .ag-header-cell {
	background-color: #edeef3;
	border-right: none;
}
.ag-theme-fresh .ag-header-cell-label .ag-header-cell-text{
	

	color: black;
    font-weight: bolder;
    font-size: 14px;
    line-height: 3;
}
.ag-theme-fresh .ag-row {
    border-bottom-width: thin !important;
    border-bottom-color: #eeeeee !important;
}
.ag-theme-fresh .ag-row-selected {
    background-color: #dddddd !important;
}
.ag-row {
	background-color: #ffffff !important;
}
.ag-cell.ag-cell-with-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing{
	height: 100%;
	padding : 0px;
}
.ag-floating-bottom-container .ag-row.ag-row-no-focus.ag-row-even.ag-row-level-0{
	border-top: solid 1px #666666 !important;
	background-color: #edeef3 !important;
}
.editable-cell{
	background-color: #F7e4e4;
}

.ag-theme-fresh .ag-root {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ag-theme-fresh .ag-header-cell-label {
    display: flex;
    float: left;
    height: 100%;
    width: calc(100% - 2px);
}

.ag-theme-fresh .ag-header-cell-resize::after {
    border-right: 1px solid #b5b5b5;
}