
	#set( $mail_title = "신청서  결재 결과" )
	#parse( "/mail_template/_include_header.vm" )
	<div style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				#if ($FAIL_MSG   && ${FAIL_MSG.size()} >0)
					#if ($SendForAdmin == 'Y') 
						배포가 실패하였습니다. 배포 실패 목록에서 확인바랍니다.
					#else 
						요청서가  승인되었으나, 배포가 실패하였습니다. 관리자가 feedback해 드릴 겁니다.
					#end	
				#else
					요청서가  승인되었습니다.
				#end 
			</div>
	 <br /><br />
	 <div style="padding-left: 30px;font-size: 12px;background-color: #f5f6fa;">
	 	<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" > 요청 내용</div> <br>	
			$CMT
			<br>
			#if ($FAIL_MSG   && ${FAIL_MSG.size()} >0)
				<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" >배포 실패</div>
				<table border=1 cellpadding=10 width="100%" cellspacing=0 style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
				 #foreach( $msg in $FAIL_MSG )
				   <tr style="height : 43px;"><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">
				   $msg.VM_NM </td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">$msg.FAIL_MSG</td></tr>
				  #end
				</table> 
			#else
				서버 변경, 삭제는 승인 후 1분이내 반영됩니다.<br>
				신규 서비스는 반영 후 별도의 메일이 발송됩니다. 
			#end
		
	</div>
	</div> 
	#parse( "/mail_template/_include_footer.vm" )
 
	     