#set( $mail_title = "이용 대금 명세서" )
#parse( "/mail_template/_include_header.vm" )
<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">${YYYY}년  ${MM}월 이용 금액은 <span style="color:red; font-size:28px; font-weight:bold">${USE_FEE_FMT}</span>원입니다..</div>
		</div>
 <br /><br />
 <div style="text-align: center;">
 
		<table style="border-top: 2px solid #626262; margin-left:50px;  border-collapse: collapse; width:88%"">
		<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	 	height: 30px;	border-right: 0px;	text-align : center;"	 >상품 종류</th>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	 height: 30px;	border-right: 0px;	text-align : center;	 ">시요금제(갯수)</th>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	 height: 30px;	border-right: 0px;	text-align : center;	 ">일요금제(갯수)</th>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	 height: 30px;	border-right: 0px;	text-align : center;	 ">월요금제(갯수)</th>
				
	
		</tr>
	#foreach( $detail in $mm_pay_detail )
		<tr>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: center; ">$detail.SVC_CD_NM</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: right; ">$detail.HH_CNT</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: right; ">${detail.DD_CNT}</td>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	  text-align: right; ">${detail.MM_CNT}</td>
				
			</tr>
    
	#end
		 
		</table>
</div> 
#parse( "/mail_template/_include_footer.vm" )
 