
	#set( $mail_title = "배포 결과" )
	#parse( "/mail_template/_include_header.vm" )
	<div  style="padding-left:30px; font-size:12px;background-color: #f5f6fa;">
		<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
			
			<div style="">
			#if ($FAIL_MSG   && ${FAIL_MSG.size()} >0)
				배포가 실패하였습니다. 관리가자 feedback해 드릴 겁니다.
			#else
				배포 완료되었습니다.
			#end 
			</div>
			
			<br /><br />
			 <div >
			 	<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;"> 요청 내용</div>	
					$CMT
					<br>
					#if ($FAIL_MSG   && ${FAIL_MSG.size()} >0)
						<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;">배포 실패</div>
						<table border=1 cellpadding=10 cellspacing=0 style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
						 #foreach( $msg in $FAIL_MSG )
						   <tr><td  style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">$msg.VM_NM </td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;"> $msg.FAIL_MSG</td></tr>
						  #end
						</table> 
					  
					#end
				
			</div> 
	</div>
	</div>
		
	#parse( "/mail_template/_include_footer.vm" )
 
	     