#parse( "/mail_template/_include_header.vm" )
	<div>
			<div style="line-height: 2; margin: auto; width: 60%;">
					안녕하세요. <span>$Team $User_Name</span>입니다.
					장기간 미사용 서버 회수를 위해 아래와 같이 서버 삭제 요청 부탁드립니다.
					<br>
					※ 장기간 미사용 서버 선정 기준 : $Date 기준으로 이전 30일동안 CPU 사용률 5% 이하, 메모리 사용률 5% 이하, 네트워크 속도 5KBPS 이하 모두 충족한 서버
					<br>
					[ 서버 삭제 요청 방법 ]
					<br>
					◎ 접속 경로 : MY모비스 → R&D → Mclovir → 클라우드 서버 → 서버 현황
					<br>
					◎ 첨부파일(장기미사용서버.xlsx)에서 본인 이름 검색 → 본인 서버이름 복사 → Mclovir 서버 현황 키워드 항목에 붙여넣기 후 검색 → 행 선택 → 삭제 요청 → 바로요청
					<br>
					<img src="${domain}/res/img/email/not_use_vm.png" style="width:100%;border:none" />
					<br>
					(서버이름 말고 IP 또는 이름으로 검색해도 무관합니다.)
					<br>
					CPU, MEM, NW 수치만으로 선정하였으니 실제로 사용중인 서버라면 삭제하지 않아도 됩니다.				
					<br>
					<h2 style="text-align: center;">서버 목록</h2>
					<table style="text-align: center; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; width: 100%;">
					<tr style="background: whitesmoke;"><th>서버명</th><th>담당자</th><th>사번</th></tr>
					$NotUseNm
					</table>
			</div>
	</div>  

#parse( "/mail_template/_include_footer.vm" )
 