#mainTable{
    border-top: 1px solid #626262;
    border-bottom: 1px solid #626262;
}
#fwGrid{
    border-top: 1px solid #626262;
    border-bottom: 1px solid #626262;	
}
.ag-header-cell > .ag-cell-label-container {
	padding: 6px 1px;
	color: white;
	font-weight: bold;
}
.ag-theme-fresh .ag-header-cell-label {
	text-align: center;
	width: 100%;
}
	
.ag-theme-fresh .ag-header {
	background-image: none !important;
	background: #9facbd !important
}
.ag-cell {
	 
	line-height: normal !important;
	padding-top: 13px;
}
.ag-layout-normal .ag-body-viewport{
	background: white;
}
.ag-theme-fresh .ag-cell-focus {
/* 	border: none !important; */
	padding-top: 20px;
}
.ag-theme-fresh .ag-cell-no-focus{
	border: none;
    border-bottom: 1px solid #f1f1f1;
	padding-top: 20px;
}
.ag-theme-fresh .ag-header-cell-resize::after {
	height: 45px !important;
	
/* 	border-right: none !important; */
}
.ag-theme-fresh .ag-header-cell {
	/* border-right: 1px solid #b9b9b9 !important; */
	padding : 0px;
}
.ag-theme-fresh .ag-header-cell-label .ag-header-cell-text{
	margin: auto;
	/* padding-top: 6px; */
	color: white;
    margin-top: 7px;
	float: none;
	display: inline-block;
}
.ag-theme-fresh .ag-row {
    border-bottom-width: thin !important;
    border-bottom-color: #eeeeee !important;
    text-align: center;
}
.ag-theme-fresh .ag-row-selected {
    background-color: #dddddd !important;
}
.ag-theme-fresh .ag-cell{
	border-left:  1px solid #f1f1f1!important;
	border-right: 1px solid #f1f1f1 !important;
}
.ag-theme-fresh .ag-cell-focus{
	border: 1px solid darkgrey;
	border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.ag-row {
	background-color: #ffffff !important;
}
.ag-cell.ag-cell-with-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing{
	height: 100%;
	padding: 0px;
}
.ag-floating-bottom-container .ag-row.ag-row-no-focus.ag-row-even.ag-row-level-0{
	border-top: solid 1px #666666 !important;
	background-color: #edf3f8 !important;
}
.ag-floating-bottom-container .ag-row.ag-row-even.ag-row-level-0.ag-row-focus{
	background-color: #edf3f8 !important;
}
}
.ag-header-cell.ag-header-cell-sortable.editable-cell-header{
	background-color: #394f6b !important;
	padding : 0px;
}
.ag-theme-fresh .ag-root{
	border: none !important;
}
 
.ag-header-cell.ag-header-cell-sortable.editable-cell-header{
	background-color: #394f6b !important;
	
}
.ag-ltr .ag-header-select-all {
    float: none;
}
.ag-header-select-all span{
	width:100%;

	}
.ag-theme-fresh .ag-selection-checkbox span{
    margin-right: 0px;
}
/* #borderLayout_eGridPanel > div.ag-bl-center.ag-bl-full-height-center > div > div.ag-header.ag-pivot-off > div.ag-header-viewport > div > div > div.ag-header-cell.ag-header-cell-sortable.ag-column-hover > div.ag-cell-label-container.ag-header-cell-sorted-none{
	width: auto;
}  */
/* div.ag-header.ag-pivot-off > div.ag-header-viewport > div > div > div:nth-child(1) > div.ag-cell-label-container.ag-header-cell-sorted-none{
	width: 50px;
} */
div.ag-header.ag-pivot-off > div.ag-header-viewport > div > div > div:nth-child(1) > span > span.ag-checkbox-unchecked > span{
	padding-left: 35px;
}
.ag-icon-checkbox-unchecked{
	width: 100% !important;
}
.ag-icon-checkbox-indeterminate{
	width: 100% !important;
}
